h1{
    color : aquamarine !important;
    font-family: "Arial Rounded MT Bold",sans-serif !important;
    font-size: 500% !important;
    text-align: center !important;
}
p{
    color: #123456 !important;
    font-size: 300% !important;
}